table{
    color:#ffff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em  Ariel, Helvetica, sans-serif;
}
tr{
    height:16.02vh;
    background-color: #4e494d;
}
td{
    border:1px solid #4e494d;
    width:25vw;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color:#fff;
    border:0;
}

.digitButton{
    background-color:#807e80;
}

.operatorButton{
    background-color: #ff9e03;
}
